<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/cartstyle.css">
    <script src="../scripts/script.js" defer></script> 
    <script src="../scripts/test.js" defer></script> 
    <link rel="shortcut" href="/assets/logo.png" type="image/x-icon">
</head>
<body>
    <nav id="nav">
        <div class="nav-items">
            <div class="nav-content">
                <a href="/index.html">
                    <img src="/assets/logo.png" class="logo" alt="Logo do site" id="logo">
                </a>
                <div class="links">
                    <a href="/pages/views/About.html">Sobre</a>
                    <a href="/pages/views/Contact.html">Contato</a>
                    <a href="/pages/views/Cart.html">Carrinho 🛒</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="nav-space"></div>
    
    <section class="container">
        <h2 class="header" style=" text-align: center; font-size: 34px; margin-bottom: 25px;">CARRINHO</h2>
        
        <div class="cart-row">
            <span class="cart-item cart-header cart-column">LIVRO</span>
            <span class="cart-price cart-header cart-column">PREÇO</span>
            <span class="cart-quantity cart-header cart-column">QUANTIDADE</span>
        </div>
        
        <div class="cart-items" id="cart-items-container">
            </div>
        
        <div class="cart-total">
            <strong class="cart-total-title">Total</strong>
            <span class="cart-total-price" id="total-price">R$ 0,00</span>
        </div>
        
        <button class="btn btn-primary btn-purchase" type="button">COMPRAR</button>
    </section>

    <footer class="footer">
        <div class="footer-content">
            <div style="display: flex; justify-content: space-between; width: 25%;">
                <img src="../../assets/Facebook.png" class ="footer-icons" alt="Facebook">
                <img src="../../assets/Instagram.png" class ="footer-icons" alt="Instagram">
                <img src="../../assets/WhatsApp.png" class ="footer-icons" alt="WhatsApp">
            </div>
            <p style="color: white;">
                +55 (24) 99999-9999 || Adm@BookStore.com.br
            </p>
            <p style="color: white;">
                © 2025 BookStore
            </p>
        </div>
    </footer>
</body>
</html>