* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5; 
}


header {
    display: flex;
    justify-content: space-between;
    background-color: #1a1a1a; 
    color: white;
    padding: 1.5rem 2rem; 
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    padding-right: 1rem;
    font-size: x-large;
    padding-top: 5px;
}

header nav a {
    text-decoration: none;
    color: white;
}

header nav a:hover {
    color: #ff9800; 
}


.meio {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    background-color: #eaeaea; 
    gap: 1rem;
    padding: 2rem 0;
}

.livroicon img {
    margin: 10px;
    width: 25rem;
    height: auto;
}

.infos {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 20rem;
    margin-top: 10rem;
    padding: 1rem;
    gap: 1rem;
    height: auto;
    margin-bottom: 10px;
}

.desc {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.preco {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black; 
    padding: 0.5rem;
    border-radius: 20px;
    color: white;
}

.preco h2 {
    margin: 0;
}

.btn-carrinho {
    background-color: #ff9800; 
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color: white;
}

.btn-carrinho:hover {
    background-color: #e68900;
}

.comprar {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    align-items: center;
}

.infos label[for="quantidade"] {
    margin-left: 10px;
}

#quantidade {
    width: 45px;
    height: 30px;
    font-size: 16px;
    padding: 2px 5px;
}

/* DESCRIÇÃO INFO */
.descricaoinfo {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    background-color: #f5f5f5;
}

.boxinfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 10px;
    background-color: #ffffff;
    width: 70%;
}

.infoitem {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.infotitulo {
    margin-top: 0.25rem;
}

.infovalor {
    margin-top: 0.1rem;
}


.sinopse {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    background-color: #f5f5f5;
}

.sim {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 10px;
    background-color: #ffffff;
    width: 70%;
}


.autor {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    background-color: #f5f5f5;
}

.sobreautor {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 10px;
    background-color: #ffffff;
    width: 70%;
}


.fichatecninca {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    background-color: #f5f5f5;
}

.tecnica {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    padding: 1.5rem;
    border-radius: 10px;
    background-color: #ffffff;
    width: 70%;
}

.colunatecnica {
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
    background-color: #eeeeee; 
    justify-content: space-between;
    font-size: large;
}

.colunatecnica2 {
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
    background-color: #dddddd; 
    justify-content: space-between;
    font-size: large;
}


.footer{
    width: 100%;
    min-height: 150px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-content{
    width: 40%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0px;
    margin: 20px 0px;
}
.footer-icons{
    height: 30px;
}